<p>app.component.html</p>

<p>Link list</p>
<ul>
  <!-- This directive generates our link based on the route path -->
  <li><a [routerLink] = "['/1Hello']">1. Hello</a></li>
  <li><a [routerLink] = "['/2Variables']">2. Variables</a></li>
  <li><a [routerLink] = "['/3TemplateUrl']">3. Template from url</a></li>
  <li><a [routerLink] = "['/4IfFor']">4. ngif and ngfor</a></li>
  <li><a [routerLink] = "['/5ImagesFromUtl']">5. images from varable url</a></li>
  <li><a [routerLink] = "['/6AppProductsCrud']">6. crud on json 2</a></li>
  <li><a [routerLink] = "['/7PageNotFound']">7. Page Not Found</a></li>
  <li><a [routerLink] = "['/8HelloInject']">8. Hello Inject</a></li>
  <li><a [routerLink] = "['/9HaventHandler']">9. Havent handler</a></li>
  <li><a [routerLink] = "['/10Transforms']">10. Transforms</a></li>
  <li><a [routerLink] = "['/11ParentChild']">11. Parent Child</a></li>
</ul>
<p>--Start selected page content--</p>
<!-- Angular will insert  here the component we want to route to on the view -->
<router-outlet></router-outlet>
<p>--End selected page content--</p>
<p>A fix message from  hello:</p>
<my-hello></my-hello>
