<div>
   The name of this Tutorial is: {{TutorialName}}<br>
   The transformer is lowercase : {{TutorialName | lowercase}}<br>
   The transformer is uppercase: {{TutorialName | uppercase }}<br>
   The transformer is slice:4:8 : {{TutorialName | slice:4:8}}<br>
   The transformer is slice:5:11 : {{TutorialName | slice:5:11}}<br>
   <br>
   The date of this Tutorial is: {{myDate | date:"fullDate"}}<br>
   The date of this Tutorial is: {{myDate | date:"mediumDate"}}<br>
   The date of this Tutorial is: {{myDate | date:"dd/MM/yyyy"}}<br>
   <br>
   The currency of this Tutorial is {{myNumber | currency}}<br>
   The percentage is {{myNumber | percent}}<br>
   The percent:'2.2-5' is {{myNumber | percent:'2.2-5'}}<br>
</div>
